{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block header %}
    {% include 'shared/header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="my-2">
        {% include 'shared/flash.html.twig' %}
    </div>
    <div class="cart bg-gray-100 p-6 mx-[12vw] rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-4 text-gray-800">
            Votre Panier
        </h2>
        {% if cart is empty %}
            <p class="text-gray-600 mb-4">Votre panier est vide.</p>
            <a href="/" class="bg-blue-500 text-white p-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300">
                Continuer vos achats
            </a>
        {% else %}
            <form method="POST" action="/cart/update" id="cart-form">
                <ul class="space-y-4">
                    {% for cartItem in cart %}
                        <li class="grid grid-cols-5 items-center gap-4 border-b border-gray-300 pb-4">
                            <span class="text-md font-medium text-gray-700 text-start">{{ cartItem.product[0].name }}</span>
                            <span class="text-gray-600 text-center">{{ cartItem.product[0].price }}€</span>
                            <div class="flex items-center justify-center gap-2">
                                <button type="button" class="rounded text-2xl cursor-pointer transition" data-action="decrease" data-product-id="{{ cartItem.product[0].id }}">-</button>
                                <span class="rounded p-1 w-16 text-center" id="qty-product">{{ cartItem.quantity }}</span>
                                <button type="button" class="rounded text-2xl cursor-pointer transition" data-action="increase" data-product-id="{{ cartItem.product[0].id }}">+</button>
                            </div>
                            <span class="text-gray-800 font-semibold text-center">{{ cartItem.product[0].price * cartItem.quantity }}€</span>
                            <button type="button" class="cursor-pointer mx-auto text-red-500 w-fit text-end hover:text-red-700 transition duration-300" data-action="remove" data-product-id="{{ cartItem.product[0].id }}">
                                Supprimer
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </form>
            <div class="flex justify-end mt-6">
                <span class="text-xl font-bold text-gray-800">Sous-total: {{ cart|reduce((carry, cartItem) => carry + (cartItem.product[0].price * cartItem.quantity), 0) }}€</span>
            </div>
            <div class="flex justify-end">
                <a href="{{ path('checkout_details') }}" id="next-step" class="bg-blue-500 w-[10vw] text-center text-white mt-4 py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300">
                    Étape suivante
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart-actions') }}
    <script>
        URL_UPDATE_CART = "{{ path('cart_update') }}";
    </script>
{% endblock %}
